body {
    background-color: skyblue;
}

#prev{
    margin: 50px 5px 5px 5px;
    padding: 20px;
}

#next {
    margin: 50px 5px 5px 5px;
    padding: 20px;
}
button {
    /*text-align: center;*/
    display: inline-block;

}



p {
    text-align: center;

}

.carousel {
    text-align: center;

}